/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 mai 2019, 13:07:44
    Author     : stagldnr
*/


body, p, legend, label, input {
    font: normal 12pt verdana, helvetica, sans-serif; 
}

body{
    background: url('https://previews.123rf.com/images/seregam/seregam1210/seregam121000065/15585520-arri%C3%A8re-plan-de-recettes-de-cuisine-et-des-%C3%A9pices-sur-table-en-bois.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: 0 auto;
    width: 1200px;
    text-align: center;
}

h1{
    padding: 20px;
}

#derniere{
    margin: 0 auto;
    width: 1000px;
    height: 1000px;
    padding-left: 120px;
}

.recetteDerniere:hover{
    border: 5px green solid;
    border-radius: 5px;
}

#meilleur{
    margin: 0 auto;
    width: 1000px;
    height: 700px;
    padding-left: 30px;
}

.recetteMeilleur{
    width: 300px;
    height: 500px;
    margin-left: 20px;
    border: 5px brown solid;
    border-radius: 5px;
    float: left;
}
.recetteMeilleur p{
    height: 180px;
    margin-bottom: 30px;
    text-overflow: ellipsis; 
    overflow: hidden;
}

.recetteMeilleur h3{
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
}

.recetteMeilleur img{
    margin-top: 5px;
    border-radius: 5px;
    width: 280px;
    height: 200px;
}

.recetteDerniere{
    float: left;
    position: relative;
    width: 250px;
    height: 200px;    
    margin: 40px 0 0 20px;
    border: 5px black solid;
    border-radius: 5px;    
}

.recetteDerniere h4{
    margin-top: 10px;    
    z-index: 2;
}

.recetteDerniere img{
    z-index: 1;
    width: 100%;
    height: 100%;
}
