/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 mai 2019, 08:55:20
    Author     : stagldnr
*/
/* 
    Created on : 8 mai 2019, 12:26:16
    Author     : Herbert Caffarel <herbert.caffarel@cicef.pro>
*/

/* Général ---------------------------- */


body {
    background: url('https://previews.123rf.com/images/seregam/seregam1210/seregam121000065/15585520-arri%C3%A8re-plan-de-recettes-de-cuisine-et-des-%C3%A9pices-sur-table-en-bois.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: black;
}
#titre{
    text-indent: 550px;
    background-color: white;
}
#conteneur{
    width:700px;
    height:700px;
    display:inline-block;

    text-align:center;
    margin-left: 350px; 
    margin-top: 100px;
    padding-top: 30px;


}

#div1 {
    width:200px;
    height:200px;
    display:inline-block;
    border: 5px solid brown;
    text-align:center;
    float: center;
    border-radius: 10px;
    text-overflow: ellipsis; 
    overflow: hidden;
} 
#div2 {
    width:200px;
    height:200px;
    display:inline-block;
    border: 5px solid brown;
    text-align:center;
    float: center;
    border-radius: 10px;
    text-overflow: ellipsis; 
    overflow: hidden;
} 
#div3 {
    width:200px;
    height:200px;
    display:inline-block;
    border: 5px solid brown;
    text-align:center;
    float: center;
    border-radius: 10px;
    text-overflow: ellipsis; 
    overflow: hidden;
} 
#div4 {
    width:200px;
    height:200px;
    display:inline-block;
    border: 5px solid brown;
    text-align:center;
    float: center;
    border-radius: 10px;
    text-overflow: ellipsis; 
    overflow: hidden;
} 
#div5 {
    width:200px;
    height:200px;
    display:inline-block;
    border: 5px solid brown;
    text-align:center;
    float: center;
    border-radius: 10px;
    text-overflow: ellipsis; 
    overflow: hidden;
} 
#div6 {
    width:200px;
    height:200px;
    display:inline-block;
    border: 5px solid brown;
    text-align:center;
    float: center;
    border-radius: 10px;
    text-overflow: ellipsis; 
    overflow: hidden;
} 
#div7 {
    width:200px;
    height:200px;
    display:inline-block;
    border: 5px solid brown;
    text-align:center;
    float: center;
    border-radius: 10px;
    text-overflow: ellipsis; 
    overflow: hidden;
} 
#div8 {
    width:200px;
    height:200px;
    display:inline-block;
    border: 5px solid brown;
    text-align:center;
    float: center;
    border-radius: 10px;
    text-overflow: ellipsis; 
    overflow: hidden;
} 
#div9 {
    width:200px;
    height:200px;
    display:inline-block;
    border: 5px solid brown;
    text-align:center;
    float: center;
    border-radius: 10px;
    text-overflow: ellipsis; 
    overflow: hidden;
} 
