/* 
    Created on : 8 mai 2019, 12:26:16
    Author     : Herbert Caffarel <herbert.caffarel@cicef.pro>
*/

/* Général ---------------------------- */
h1{
    background-color: tan;
    text-indent: 70px;
}
body {
    background: url('https://previews.123rf.com/images/seregam/seregam1210/seregam121000065/15585520-arri%C3%A8re-plan-de-recettes-de-cuisine-et-des-%C3%A9pices-sur-table-en-bois.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: black;
}


body, p, legend, label, input {
    font: normal 12pt verdana, helvetica, sans-serif; 
}

fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
    width: 400px;
    margin: 0px auto; 
}

body{
    text-align: center;
}
 
/* Forms ------------------------------- */

form{
    padding: 10px 0px 10px 0px ;
}


form label {
    float: left;
    width: 200px;
    margin: 10px 0px 0px 0px;
}

form input {
    margin: 10px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.noLabel {
    margin-left: 200px;
}

form .mandatory {
    color: #c00;
}

form .error{
    color: #900;
}

form .success{
    color: #090;
}