/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 mai 2019, 08:22:33
    Author     : stagldnr
*/

body {
  background: url('https://images.radio-canada.ca/q_auto,w_1600/v1/ici-info/16x9/preparation-repas-alimentation-cuisine.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: black;
}


p {
  padding: 20px;
  background: yellow;
  border: 2px solid red;
  width: 500px;
  height: 400px;
  position:relative;
}

#titres
{
     display: flex;
     padding: 10px;
    flex-direction: row;
    justify-content: space-around;
    position:relative;
}
#twitchContent
{
     display: flex;
     padding: 10px;
    flex-direction: row;
    justify-content: space-around;
    position:relative;
}


#dimension1 {
  padding: 20px;
  background: wheat;
  border: 2px solid red;
  width: 200px;
  height: 400px;
  position:relative;
}



#dimension2 {
  padding: 20px;
  background: wheat;
  border: 2px solid red;
  width: 300px;
  height: 500px;
  position:relative;
}




#adapt
{
     display: flex;
     padding: 10px;
      
}
.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

label {
  color: black;
  padding: 20px;
  background: white;
  border: 2px solid red;
  font: 4px;
  width: 60px;
  height: 20px;
  float: right;
  position:relative;
}
