/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 mai 2019, 08:22:33
    Author     : Amine Semmoud
*/

body {
  background: url('https://previews.123rf.com/images/seregam/seregam1210/seregam121000065/15585520-arri%C3%A8re-plan-de-recettes-de-cuisine-et-des-%C3%A9pices-sur-table-en-bois.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: black;
}

.footer{
     font: normal 12pt verdana, helvetica, sans-serif;
    text-align: center;
}

#titres{
     display: flex;
     padding: 10px;
    flex-direction: row;
    justify-content: space-around;
    position:relative;
    margin-left: 120px;
}
#twitchContent
{
     display: flex;
     padding: 10px;
    flex-direction: row;
    justify-content: space-around;
    position:relative;
    clear: both;
}

#dimension1 {
  padding: 20px;
  background: rgba(207,118,39,0.4);
  border: 5px solid brown;
  width: 300px;
  min-height: 100px;
  position:relative;
  word-wrap: break-word;
  overflow: auto;
  margin-left: 100px;
}

#dimension2 {
  padding: 30px;
  background: rgba(207,118,39,0.4);
  border: 5px solid brown;
  width: 500px;
  height: auto;
  position:relative;
  word-wrap: break-word;
  overflorw: auto;
  text-align: justify;
}

#adapt{
     display: flex;
     padding: 10px;      
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

label {
  color: black;
  padding: 20px;
  background: white;
  border: 2px solid red;
  font: 4px;
  width: auto;
  height: 20px;
  margin-bottom: 10px;
  float: right;
  position:relative;
  overflow: hidden; /* les dépassements seront masqués */  
}

.panel-heading{    
    margin-left: 220px;
    padding-bottom: 40px;
}

.comments{
    margin: 10px;
    width: 600px;
    margin-left: 220px;
}

.titreComment{
    height: 50px;
    width: auto;
    padding: 10px;
    overflow: hidden;
}

.corpsComment{
       height: auto;
    padding: 10px;
    width: auto;
    margin-bottom: 50px;
}
